.header {
  padding-top: 22px;
  &_logo {
    img {
      @media (max-width: 992px) {
        width: 200px;
      }
      @media (max-width: 768px) {
        width: 160px;
      }
    }
  }
  .container {
    @media (max-width: 768px) {
      flex-wrap: wrap;
    }
  }
  &_right {
    gap: 17px;
    @media (max-width: 992px) {
      gap: 10px;
    }
    a {
      width: 71px;
      height: 71px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 15px;
      background: #fff;
      position: relative;
      transition: all 0.2s linear;
      @media (max-width: 992px) {
        width: 60px;
        height: 60px;
      }
      .notfication_number {
        border-radius: 7px;
        background: #ff5f64;
        position: absolute;
        top: 22px;
        right: 23px;
        width: 7px;
        height: 7px;
        border-radius: 50%;
        display: block;
        z-index: 2;
        @media (max-width: 768px) {
          top: 18px;
          right: 17px;
        }
      }
      &:hover {
        box-shadow: 0 0 10px #a6a5a5;
      }
    }
  }
  &_form {
    position: relative;
    input {
      width: 312px;
      height: 71px;
      width: 312px;
      height: 71px;
      padding: 24px 32px 24px 25px;
      background: #fff;
      outline: none;
      border: none;
      border-radius: 15px;
      color: #9093ae;
      font-family: "Raleway";
      font-size: 20px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
      transition: all 0.2s linear;
      &:hover {
        box-shadow: 0 0 10px #a6a5a5;
      }
      @media (max-width: 992px) {
        width: 250px;
        height: 60px;
      }
      @media (max-width: 768px) {
        width: 100%;
      }
    }
    img {
      position: absolute;
      right: 25px;
      top: 22px;
      background: #fff;
      padding-left: 5px;
      @media (max-width: 992px) {
        top: 15px;
      }
    }
    &.desctop {
      @media (max-width: 768px) {
        display: none !important;
      }
    }
    &.mobile {
      display: none;
      margin-top: 10px;
      @media (max-width: 768px) {
        display: block;
        width: 100%;
      }
    }
  }
}
