.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100dvh;
  background: #0000006a;
  backdrop-filter: blur(10px);
  z-index: 11;
  display: none;
  padding: 200px 15px 0;

  .tab_content_item {
    padding: 25px;
    background: #fff;
    border-radius: 20px;
    border: 1px solid #9093ae;
    margin-top: 40px;
    &.is_hover {
      transition: all 0.2s linear;
      border: 1px solid transparent;
      &:hover {
        border: 1px solid #9093ae;
      }
    }
    &_top {
      gap: 22px;
      @media (max-width: 768px) {
        gap: 15px;
      }
      img {
        width: 79px;
        height: 79px;
        border-radius: 50%;
      }
      .my_record_profile_name {
        color: #1c2258;
        font-size: 20px;
        font-style: normal;
        font-weight: 600;
        line-height: 114.909%;
        @media (max-width: 1400px) {
          font-size: 17px;
        }
        @media (max-width: 1200px) {
          font-size: 16px;
        }
      }
      .my_record_profile_price {
        color: #ad272b;
        text-align: right;
        font-family: Montserrat;
        font-size: 20px;
        font-style: normal;
        font-weight: 800;
        line-height: 114.909%;
      }
      .my_record_profile_status {
        color: #1c2258;
        font-size: 15px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        margin-top: 16px;
        display: block;
      }
    }
    .my_record_profile_information_lists {
      gap: 18px;
      margin-top: 40px;
    }
  }
  &_exit {
    cursor: pointer;
    position: absolute;
    right: 28px;
    top: 35px;
    background: #fff;
    border-radius: 50%;
  }
  &_content {
    border-radius: 30px;
    background: #fff;
    padding: 38px 43px 37px;
    max-width: 647px;
    margin: auto 0;
    position: absolute;
    height: fit-content;
    max-height: calc(100dvh - 100px);
    inset: 0;
    overflow-y: auto;
    margin: auto;
    &::-webkit-scrollbar {
      display: none;
    }
    @media (max-width: 768px) {
      padding: 30px 20px;
      width: calc(100% - 30px);
    }
    .schet_card {
      padding: 15px 19px 18px 19px;
      border-radius: 20px;
      background: #f9eeee;
      margin-top: 14px;
      @media (max-width: 556px) {
        flex-direction: column;
        align-items: flex-start !important;
        gap: 14px;
      }
      &_left {
        gap: 20px;
        &_title {
          color: #1c2258;
          font-size: 14px;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
        }

        &_price {
          color: #1c2258;
          font-size: 20px;
          font-style: normal;
          font-weight: 600;
          margin-top: 7px;
          line-height: normal;
        }
      }
      &_right {
        &_title {
          color: #ad272b;
          text-align: right;
          font-size: 14px;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
          @media (max-width: 556px) {
            text-align: left;
          }
        }
        &_balance {
          color: #ad272b;
          text-align: right;
          width: 100%;
          display: block;
          font-size: 14px;
          font-style: normal;
          font-weight: 600;
          line-height: normal;
          text-decoration: underline;
          margin-top: 7px;
          @media (max-width: 556px) {
            text-align: left;
          }
        }
      }
      img {
        width: 107px;
        height: 70.801px;
      }
    }
  }
  &_title {
    color: #1c2258;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    @media (max-width: 768px) {
      font-size: 26px;
    }
  }
  &_sums {
    color: #1c2258;
    font-size: 26.899px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-top: 22px;
    &_left {
      gap: 28px;
    }
    &_right {
      color: #1c2258;
      font-size: 26.899px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
    }
  }
  .order_hormone {
    margin-top: 40px;
    @media (max-width: 556px) {
      padding: 27px 30px;
    }
  }
  .balance_topup-input {
    margin-top: 40px;
    input {
      padding: 28px 26px 25px;
    }
  }
  .balance_payment {
    gap: 29px;
    padding: 0;
    background: transparent;
    border-radius: 0;
    max-width: 100%;
    width: 100%;
    margin-top: 52px;
  }
  &_bottom_checkbox {
    gap: 13px;
    color: #1c2258;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 31px;
    a {
      color: #1c2258;
      text-decoration: underline;
    }
  }
  #modal_content3 {
    h2 {
      color: #1c2258;
      font-family: "Raleway";
      font-size: 48px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      text-align: center;
      padding-top: 240px;
    }
  }
  &_chat_content {
    border-radius: 35px;
    background: #fff;
    max-width: 1239px;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    max-height: calc(100dvh - 230px);
    @media (max-width: 768px) {
      flex-direction: column;
      height: fit-content;
      max-height: calc(100dvh - 30px);
      border-radius: 8px;
    }
    .select_appanent {
      gap: 52px;
      width: 50%;
      background: #fff;
      padding: 203px 0 237px;
      color: #1c2258;
      text-align: center;
      font-family: "Raleway";
      font-size: 22px;
      font-style: normal;
      text-decoration: none;
      font-weight: 700;
      line-height: normal;
      padding-left: 133px;
      padding-right: 133px;
      @media (max-width: 1200px) {
        padding-left: 80px;
        padding-right: 80px;
      }
      @media (max-width: 1024px) {
        padding-left: 30px;
        padding-right: 30px;
      }
      @media (max-width: 992px) {
        font-size: 18px;
      }
      @media (max-width: 768px) {
        width: 100%;
        color: #1c2258;
        height: 50%;
        font-size: 20px;
        padding: 34px 15px 37px;
        gap: 27px;
      }
      img {
        @media (max-width: 768px) {
          width: 90px;
        }
      }
      &:last-child {
        background: #fbf3f3;
        @media (max-width: 768px) {
          padding: 34px 0 37px;
          height: 50%;
        }
      }
    }
  }
  &#select_appanent_modal {
    @media (max-width: 768px) {
      padding-top: 20px;
    }
    .modal_chat_content {
      @media (max-width: 768px) {
        max-height: calc(100dvh - 30px);
        overflow-y: auto;
      }
      &::-webkit-scrollbar {
        display: none;
      }
    }
  }
  .chatbot_ai {
    display: none;
    .modal_exit {
      background: none;
    }
    @media (max-width: 768px) {
      padding: 0 20px 41px 20px;
    }
    .chatbot_ai_wrapper {
      @media (max-width: 768px) {
        width: 200%;
        margin: auto;
        flex: 0 0 auto;
      }
    }
    &_buttons {
      display: none;
      @media (max-width: 768px) {
        display: flex;
        border-radius: 15px;
        border: 1px solid #1c2258;
        margin-top: 80px;
        justify-content: space-between;
      }
      a {
        @media (max-width: 768px) {
          color: #1c2258;
          font-size: 14px;
          font-style: normal;
          font-weight: 500;
          padding: 18px 30px;
          line-height: normal;
          border-radius: 15px;
          text-align: center;
          text-decoration: none;
        }
        &.active {
          color: #fff;
          background: #ad272b;
          transform: scale(1.1);
        }
      }
    }
    .modal_title {
      font-weight: 600;
      margin-top: 31px;
    }
    .modal_text {
      margin-top: 34px;
      text-align: center;
    }
    &_content {
      @media (max-width: 768px) {
        overflow-x: auto;
      }
      &_left {
        width: 56%;
        padding: 56px 40px 50px 50px;
        @media (max-width: 1200px) {
          padding: 50px 35px 50px 35px;
          width: 55%;
        }
        @media (max-width: 768px) {
          width: 100%;
          padding: 30px 15px 30px 15px;
        }
        .online_priem_chat_logo {
          width: 66px;
          height: 66px;
          border-radius: 50%;
          background: #f9eeee;
          img {
            width: 25px;
          }
        }
        .online_priem_chat_info {
          background: #f9eeee;
          &::after {
            background: #f9eeee;
          }
          .online_priem_chat_name {
            color: #ad272b;
          }
        }
        .balance_topup-input .button {
          bottom: 13px;
        }
        .modal_title {
          text-align: center;
          @media (max-width: 1200px) {
            font-size: 28px;
          }
          br {
            @media (max-width: 1200px) {
              display: none;
            }
          }
        }
      }
      &_right {
        width: 44%;
        border-radius: 0 35px 35px 0;
        background: #ebebf0;
        padding: 43px 40px 50px;
        width: 100%;
        @media (max-width: 1200px) {
          padding: 43px 35px 43px 35px;
          width: 45%;
        }
        @media (max-width: 768px) {
          background: #fbf3f3;
          width: 100%;
        }
        .modal_exit {
          background: #ebebf0;
        }
        p {
          margin-top: 23px;
        }
        .button {
          font-size: 18px;
          @media (max-width: 1224px) {
            padding: 33px 51px;
          }
          @media (max-width: 1024px) {
            padding: 33px 41px;
          }
          &.blues {
            margin-bottom: 17px;
          }
        }
      }
    }
    &_dispaly {
      width: 100%;

      .online_priem_chat_display {
        width: 100%;
        padding: 0;
      }
    }
  }
  .doctors_chats {
    display: none;
  }
}
