@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");
.header {
  padding-top: 22px;
}
@media (max-width: 992px) {
  .header_logo img {
    width: 200px;
  }
}
@media (max-width: 768px) {
  .header_logo img {
    width: 160px;
  }
}
@media (max-width: 768px) {
  .header .container {
    flex-wrap: wrap;
  }
}
.header_right {
  gap: 17px;
}
@media (max-width: 992px) {
  .header_right {
    gap: 10px;
  }
}
.header_right a {
  width: 71px;
  height: 71px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  background: #fff;
  position: relative;
}
@media (max-width: 992px) {
  .header_right a {
    width: 60px;
    height: 60px;
  }
}
.header_right a .notfication_number {
  border-radius: 7px;
  background: #ff5f64;
  position: absolute;
  top: 22px;
  right: 23px;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  display: block;
  z-index: 2;
}
@media (max-width: 768px) {
  .header_right a .notfication_number {
    top: 18px;
    right: 17px;
  }
}
.header_form {
  position: relative;
}
.header_form input {
  width: 312px;
  height: 71px;
  width: 312px;
  height: 71px;
  padding: 24px 32px 24px 25px;
  background: #fff;
  outline: none;
  border: none;
  border-radius: 15px;
  color: #9093ae;
  font-family: "Raleway";
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
@media (max-width: 992px) {
  .header_form input {
    width: 250px;
    height: 60px;
  }
}
@media (max-width: 768px) {
  .header_form input {
    width: 100%;
  }
}
.header_form img {
  position: absolute;
  right: 25px;
  top: 22px;
  background: #fff;
  padding-left: 5px;
}
@media (max-width: 992px) {
  .header_form img {
    top: 15px;
  }
}
@media (max-width: 768px) {
  .header_form.desctop {
    display: none !important;
  }
}
.header_form.mobile {
  display: none;
  margin-top: 10px;
}
@media (max-width: 768px) {
  .header_form.mobile {
    display: block;
    width: 100%;
  }
}

.sidebar_links {
  border-radius: 20px;
  background: #fff;
  padding: 27px 0 27px 0;
  display: flex;
  flex-direction: column;
  gap: 20px;
  list-style: none;
  width: 100%;
  margin-top: 45px;
}
@media (max-width: 768px) {
  .sidebar_links {
    margin-top: 25px;
  }
}
.sidebar_links a {
  display: flex;
  align-items: center;
  gap: 15px;
  padding: 5px 33px 10px;
  color: #1c2258;
  text-decoration: none;
  transition: all 0.2s linear;
  font-family: "Raleway";
  font-size: 20px;
  font-weight: 600;
  position: relative;
}
@media (max-width: 1400px) {
  .sidebar_links a {
    padding: 5px 23px 10px 33px;
    font-size: 18px;
  }
}
.sidebar_links a svg {
  width: 29px;
}
.sidebar_links a::before {
  content: "";
  width: 6px;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: #ad272b;
  opacity: 0;
  transition: all 0.2s ease-in;
}
.sidebar_links a.active, .sidebar_links a:hover {
  position: relative;
  color: #ad272b;
}
.sidebar_links a.active svg path, .sidebar_links a:hover svg path {
  stroke: #ad272b;
}
.sidebar_links a.active::before, .sidebar_links a:hover::before {
  opacity: 1;
}
.sidebar .button {
  margin-top: 24px;
  max-width: 100%;
  padding: 33px 71px;
}
@media (max-width: 1400px) {
  .sidebar .button {
    padding: 33px 41px;
  }
}
.sidebar .exity {
  margin-top: 31px;
  display: flex;
  gap: 14px;
  align-items: center;
  color: #1c2258;
  font-family: "Montserrat";
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.user_info {
  border-radius: 20px;
  background: #fff;
  margin-top: 29px;
  padding: 43px 35px;
}
@media (max-width: 992px) {
  .user_info {
    flex-direction: column;
  }
}
@media (max-width: 768px) {
  .user_info {
    padding: 25px;
  }
}
@media (max-width: 992px) {
  .user_info_left {
    padding-bottom: 24px;
  }
}
.user_info_left .avatar {
  width: 126px;
  height: 126px;
  border-radius: 50%;
  color: #fff;
  text-align: center;
  font-family: "Montserrat";
  font-size: 41.354px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  background: linear-gradient(98deg, #1c2258 5.94%, #858ccf 95.66%);
}
@media (max-width: 768px) {
  .user_info_left .avatar {
    width: 100px;
    height: 100px;
  }
}
.user_info_left .user_name {
  color: #1c2258;
  font-size: 52px;
  font-style: normal;
  font-weight: 600;
  line-height: 104.59%;
  margin-top: 20px;
}
@media (max-width: 1200px) {
  .user_info_left .user_name {
    font-size: 38px;
  }
}
@media (max-width: 768px) {
  .user_info_left .user_name {
    font-size: 28px;
  }
}
.user_info_left .user_status {
  color: #9093ae;
  font-family: "Raleway";
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-top: 20px;
}
.user_info_title {
  color: #1c2258;
  font-family: "Montserrat";
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.user_info_right {
  gap: 54px;
  padding-left: 87px;
  border-left: 1px solid #c9cad7;
}
@media (max-width: 1200px) {
  .user_info_right {
    padding-left: 35px;
  }
}
@media (max-width: 992px) {
  .user_info_right {
    padding-left: 0;
    border-left: none;
  }
}
.user_info_right_item {
  gap: 15px;
}

.sums {
  border-radius: 20px;
  background: #1c2258;
  gap: 29px;
  margin-top: 17px;
  padding: 28px 35px;
}
@media (max-width: 768px) {
  .sums {
    padding: 25px;
    gap: 15px;
  }
}
.sums_title {
  color: #fff;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
@media (max-width: 768px) {
  .sums_title {
    font-size: 20px;
  }
}
.sums_title span {
  font-weight: 400;
}

.documents {
  padding: 35px;
  border-radius: 20px;
  background: #fff;
  margin-top: 17px;
}
@media (max-width: 768px) {
  .documents {
    padding: 25px;
  }
}
.documents_items {
  gap: 19px;
  margin-top: 45px;
}
@media (max-width: 768px) {
  .documents_items {
    margin-top: 25px;
  }
}
.documents_items li {
  color: #1c2258;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  list-style: none;
  padding-bottom: 21px;
  border-bottom: 1px solid #c9cad7;
}
@media (max-width: 768px) {
  .documents_items li {
    font-size: 15px;
    padding-bottom: 12px;
    gap: 12px;
  }
}
.documents_items li:last-child {
  padding-bottom: 0;
  border-bottom: none;
}
.documents_items li .flex {
  color: #ad272b;
  gap: 9px;
}

.my_record {
  margin-top: 29px;
}
@media (max-width: 1120px) {
  .my_record {
    flex-wrap: wrap;
  }
}
.my_record_items {
  width: calc(40% - 8.5px);
}
@media (max-width: 1200px) {
  .my_record_items {
    width: calc(43% - 8.5px);
  }
}
@media (max-width: 1120px) {
  .my_record_items {
    width: 100%;
  }
}
.my_record_tab {
  padding: 25px;
  background: #fff;
  border-radius: 20px;
}
.my_record_tab_btns {
  border-radius: 20px;
  background: #edeef9;
}
.my_record_tab_btns a {
  width: 100%;
  padding: 21px;
  border-radius: 20px;
  font-size: 18px;
  font-weight: 400;
  line-height: normal;
  display: block;
  text-decoration: none;
  color: #1c2258;
  text-align: center;
}
.my_record_tab_btns a.active {
  background: #1c2258;
  color: #fff;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.my_record_tab_header {
  display: flex;
  gap: 25px;
  margin-top: 35px;
}
@media (max-width: 1200px) {
  .my_record_tab_header {
    gap: 15px;
  }
}
.my_record_tab_header li {
  flex: 1;
  list-style: none;
}
.my_record_tab_header li a {
  display: block;
  width: 100%;
  color: #1c2258;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration: none;
  text-align: center;
  position: relative;
  padding-bottom: 10px;
}
.my_record_tab_header li a.active {
  color: #ad272b;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.my_record_tab_header li a.active::after {
  content: "";
  width: 100%;
  height: 3px;
  position: absolute;
  bottom: 0;
  left: 0;
  background: #ad272b;
}
.my_record .my_record_tab_content {
  margin-top: 17px;
}
.my_record .my_record_tab_content .tab_content_items {
  gap: 17px;
}
.my_record .my_record_tab_content .tab_content_item {
  padding: 25px;
  background: #fff;
  border-radius: 20px;
}
.my_record .my_record_tab_content .tab_content_item.is_hover {
  transition: all 0.2s linear;
  border: 1px solid transparent;
}
.my_record .my_record_tab_content .tab_content_item.is_hover:hover {
  border: 1px solid #9093ae;
}
.my_record .my_record_tab_content .tab_content_item_top {
  gap: 22px;
}
@media (max-width: 768px) {
  .my_record .my_record_tab_content .tab_content_item_top {
    gap: 15px;
  }
}
.my_record .my_record_tab_content .tab_content_item_top img {
  width: 79px;
  height: 79px;
  border-radius: 50%;
}
.my_record .my_record_tab_content .tab_content_item_top .my_record_profile_name {
  color: #1c2258;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 114.909%;
}
@media (max-width: 1400px) {
  .my_record .my_record_tab_content .tab_content_item_top .my_record_profile_name {
    font-size: 17px;
  }
}
@media (max-width: 1200px) {
  .my_record .my_record_tab_content .tab_content_item_top .my_record_profile_name {
    font-size: 16px;
  }
}
.my_record .my_record_tab_content .tab_content_item_top .my_record_profile_price {
  color: #ad272b;
  text-align: right;
  font-family: Montserrat;
  font-size: 20px;
  font-style: normal;
  font-weight: 800;
  line-height: 114.909%;
}
.my_record .my_record_tab_content .tab_content_item_top .my_record_profile_status {
  color: #1c2258;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: 16px;
  display: block;
}
.my_record .my_record_tab_content .tab_content_item .my_record_profile_information_lists {
  gap: 18px;
  margin-top: 40px;
}
.my_record_profile {
  padding: 25px;
  border-radius: 20px;
  background: #fff;
  width: calc(60% - 8.5px);
  height: fit-content;
}
@media (max-width: 1200px) {
  .my_record_profile {
    width: calc(57% - 8.5px);
  }
}
@media (max-width: 1120px) {
  .my_record_profile {
    width: 100%;
    margin-top: 27px;
  }
}
@media (max-width: 768px) {
  .my_record_profile {
    padding: 25px;
  }
}
.my_record_profile_top {
  gap: 24px;
}
@media (max-width: 768px) {
  .my_record_profile_top {
    gap: 15px;
  }
}
.my_record_profile_top img {
  width: 149px;
  height: 149px;
  border-radius: 50%;
}
@media (max-width: 1200px) {
  .my_record_profile_top img {
    width: 100px;
    height: 100px;
  }
}
.my_record_profile_name {
  color: #1c2258;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: 114.909%;
}
@media (max-width: 1200px) {
  .my_record_profile_name {
    font-size: 20px;
  }
}
.my_record_profile_status {
  color: #1c2258;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: 17px;
  display: block;
}
.my_record_profile_information {
  gap: 84px;
  margin-top: 32px;
}
@media (max-width: 768px) {
  .my_record_profile_information {
    gap: 40px;
  }
}
.my_record_profile_information_lists {
  gap: 21px;
  list-style: none;
}
@media (max-width: 768px) {
  .my_record_profile_information_lists {
    gap: 16px;
  }
}
.my_record_profile_information_lists.my_list {
  gap: 5px !important;
}
.my_record_profile_information_lists li {
  gap: 20px;
  color: #1c2258;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
@media (max-width: 768px) {
  .my_record_profile_information_lists li {
    font-size: 14px;
    gap: 14px;
  }
}
.my_record_profile_information_lists li .opacity {
  color: #9093ae;
}
.my_record_profile_information_lists li img {
  width: 19px;
}
.my_record_profile .sums_info_content {
  gap: 25px;
}
.my_record_profile .sums_info_content div {
  gap: 17px;
  color: #1c2258;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.my_record_profile .sums_info_content div span {
  color: #ad272b;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.my_order {
  padding: 25px;
  border-radius: 20px;
  background: #fff;
  width: calc(60% - 8.5px);
  height: fit-content;
}
@media (max-width: 1200px) {
  .my_order {
    width: calc(57% - 8.5px);
  }
}
@media (max-width: 1120px) {
  .my_order {
    width: 100%;
    margin-top: 27px;
  }
}
@media (max-width: 768px) {
  .my_order {
    padding: 25px;
  }
}
.my_order_contents {
  width: calc(40% - 8.5px);
}
@media (max-width: 1200px) {
  .my_order_contents {
    width: calc(43% - 8.5px);
  }
}
@media (max-width: 1120px) {
  .my_order_contents {
    width: 100%;
  }
}
.my_order_name {
  color: #1c2258;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 114.909%;
}
.my_order_information_lists {
  margin-top: 30px;
  gap: 21px;
}
.my_order_information_lists li {
  color: #9093ae;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  gap: 18px;
}
.my_order_information_lists li img {
  width: 20px;
}
.my_order .order_status {
  color: #359183;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.my_order .order_status_info {
  color: #1c2258;
}
.my_order_info_items {
  margin-top: 44px;
}
.my_order .my_order_info_lists {
  list-style: none;
  gap: 13px;
  margin-top: 30px;
  padding-bottom: 30px;
}
.my_order .my_order_info_lists li {
  padding-bottom: 13px;
  border-bottom: 1px solid #c9cad7;
}
.my_order .my_order_info_lists li:last-child {
  padding-bottom: 0;
  border-bottom: none;
}

.balance {
  margin-top: 29px;
}
@media (max-width: 1200px) {
  .balance {
    flex-direction: column;
  }
}
.balance_card {
  width: calc(40% - 8.5px);
  position: relative;
  border-radius: 20;
  overflow: hidden;
}
@media (max-width: 1200px) {
  .balance_card {
    width: 100%;
  }
}
.balance_card img {
  width: 100%;
  object-fit: cover;
  height: 100%;
  border-radius: 20px;
}
.balance_card-info {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  padding: 25px;
}
.balance_card-title {
  color: #f9eeee;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.balance_card-balance {
  color: #f9eeee;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 114.909%;
}
@media (max-width: 1400px) {
  .balance_card-balance {
    font-size: 42px;
  }
}
.balance_topup {
  width: calc(60% - 8.5px);
  border-radius: 20px;
  background: #fff;
}
@media (max-width: 1200px) {
  .balance_topup {
    width: 100%;
    margin-top: 17px;
  }
}
@media (max-width: 556px) {
  .balance_topup {
    width: 100%;
    flex-direction: column;
  }
}
.balance_topup-title {
  color: #1c2258;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.balance_topup_left {
  padding: 26px 16px 27px 24px;
  width: 60%;
}
@media (max-width: 556px) {
  .balance_topup_left {
    width: 100%;
    gap: 24px;
  }
}
.balance_topup-input {
  position: relative;
  gap: 11px;
}
.balance_topup-input input {
  border-radius: 15px;
  background: #edeef9;
  color: #1c2258;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  padding: 21px 70px 21px 22px;
  outline: none;
  border: none;
}
.balance_topup-input-title {
  color: #1c2258;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.balance_topup-input .error {
  gap: 7px;
  color: #ad272b;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.balance_topup-input .button {
  width: 72px;
  height: 50px;
  border-radius: 15px;
  background: #1c2258;
  position: absolute;
  right: 8px;
  bottom: 7px;
  outline: none;
  border: none;
  padding: 0;
}
.balance_topup-agree {
  color: #1c2258;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  gap: 13px;
}
.balance_topup-agree a {
  color: #1c2258;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration: underline;
}
.balance_payment {
  border-radius: 0 20px 20px 0;
  background: #edeef9;
  padding: 26px 34px;
  width: 40%;
}
@media (max-width: 556px) {
  .balance_payment {
    width: 100%;
    border-radius: 0 0 20px 20px;
  }
}
.balance_payment_radios {
  gap: 24px;
  margin-top: 25px;
}
.balance_payment label {
  color: #1c2258;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  gap: 14px;
}
.balance_payment-card {
  margin-top: 38px;
  gap: 11px;
}

.history {
  border-radius: 20px;
  background: #fff;
  padding: 26px 24px 27px;
  margin-top: 17px;
  color: #1c2258;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.history_title {
  padding-bottom: 33px;
  gap: 14px;
  color: #1c2258;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.history_row {
  padding-bottom: 17px;
  padding-top: 17px;
  border-bottom: 1px solid #c9cad7;
  flex-wrap: wrap;
  gap: 24px;
}
.history_row:first-child {
  padding-top: 0;
}
.history_row:last-child {
  padding-bottom: 0;
  border-bottom: none;
}
.history_row b {
  padding-right: 15px;
  font-weight: 600;
}

.online_priem_form {
  padding: 25px;
  border-radius: 20px;
  background: #fff;
}
.online_priem_form_items {
  gap: 10px;
}
.online_priem_form_content {
  flex-wrap: wrap;
  gap: 10px;
}
.online_priem_form_item {
  line-height: normal;
  position: relative;
}
.online_priem_form_item .btn {
  gap: 27px;
  cursor: pointer;
  padding: 18px 28px;
  background: #edeef9;
  color: #1c2258;
  border-radius: 15px;
  display: flex;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  justify-content: center;
  text-align: center;
}
.online_priem_form_item:first-child .btn {
  padding: 18px 20px 17px 14px;
}
.online_priem_form_item:nth-child(4) .btn, .online_priem_form_item:nth-child(5) .btn {
  padding: 18px 59px;
}
.online_priem_form_item:nth-child(6) .btn {
  padding: 18px 15px 17px;
}
.online_priem_form_item:last-child .btn {
  padding: 18px 19px 17px;
}
.online_priem_form_item input {
  position: absolute;
  opacity: 0;
  visibility: hidden;
}
.online_priem_form_item input:checked ~ .btn {
  background: #1c2258;
  color: #fff;
}
.online_priem_form_item input:checked ~ .btn ~ svg {
  fill: #fff;
}
.online_priem_form_item.active svg path {
  fill: #fff;
}
.online_priem_form .online_priem_searc {
  margin-top: 16px;
  position: relative;
}
.online_priem_form .online_priem_searc input {
  padding: 26px 45px 26px 23px;
  color: #1c2258;
  font-family: "Raleway";
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.online_priem_form .online_priem_searc img {
  position: absolute;
  bottom: 22px;
  right: 26px;
  padding-left: 4px;
  background: #edeef9;
}

.online_priem_chat {
  width: calc(60% - 8.5px);
}
@media (max-width: 1200px) {
  .online_priem_chat {
    width: calc(57% - 8.5px);
  }
}
@media (max-width: 1120px) {
  .online_priem_chat {
    width: 100%;
    margin-top: 17px;
  }
}
.online_priem_chat_btns {
  border-radius: 20px;
  background: #fff;
}
.online_priem_chat_btns a {
  width: 100%;
  padding: 21px;
  border-radius: 20px;
  font-size: 18px;
  font-weight: 400;
  line-height: normal;
  text-decoration: none;
  color: #1c2258;
  text-align: center;
  background: #fff;
  border-radius: 20px;
}
.online_priem_chat_btns a.active {
  color: #fff;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  background: #1c2258;
}
.online_priem_chat_display {
  padding: 25px;
  background: #fff;
  border-radius: 20px;
  margin-top: 17px;
  height: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.online_priem_chat_header {
  width: 100%;
  background: #fff;
}
.online_priem_chat_header_left {
  gap: 20px;
}
@media (max-width: 768px) {
  .online_priem_chat_header_left {
    gap: 10px;
  }
}
.online_priem_chat_header_left img {
  width: 79px;
  height: 79px;
  border-radius: 50%;
}
@media (max-width: 992px) {
  .online_priem_chat_header_left img {
    width: 65px;
    height: 65px;
  }
}
@media (max-width: 768px) {
  .online_priem_chat_header_left img {
    width: 50px;
    height: 50px;
  }
}
.online_priem_chat_header_name {
  color: #1c2258;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 114.909%;
}
@media (max-width: 992px) {
  .online_priem_chat_header_name {
    font-size: 18px;
  }
}
@media (max-width: 768px) {
  .online_priem_chat_header_name {
    font-size: 14px;
  }
  .online_priem_chat_header_name br {
    display: none;
  }
}
.online_priem_chat_header_status {
  color: #1c2258;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: 10px;
}
.online_priem_chat_btnlists {
  gap: 18px;
  display: flex;
}
@media (max-width: 768px) {
  .online_priem_chat_btnlists {
    gap: 10px;
  }
}
.online_priem_chat_btnlists a {
  border-radius: 15px;
  background: #edeef9;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 74px;
}
@media (max-width: 992px) {
  .online_priem_chat_btnlists a {
    width: 70px;
    height: 60px;
  }
}
@media (max-width: 768px) {
  .online_priem_chat_btnlists a {
    width: 52px;
    height: 49px;
  }
}
.online_priem_chat_logo {
  line-height: 0;
}

.online_priem_chat_item {
  gap: 23px;
}
.online_priem_chat_item img {
  width: 50px;
  height: 50px;
}
.online_priem_chat_item p {
  color: #1c2258;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.online_priem_my_chat {
  padding: 14px;
  border-radius: 15px 15px 0 15px;
  background: #edeef9;
  position: relative;
  margin-top: 14px;
  width: fit-content;
  margin-right: 17px;
  margin-left: auto;
}
.online_priem_my_chat_name {
  padding-bottom: 6px;
}
.online_priem_my_chat::after {
  width: 17.378px;
  height: 15.723px;
  position: absolute;
  bottom: 0;
  content: "";
  z-index: 2;
  right: -16px;
  background: #edeef9;
  clip-path: polygon(0 0, 0% 100%, 100% 100%);
}
.online_priem_my_chat p {
  color: #1c2258;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.online_priem_chat_items {
  padding-top: 20px;
  gap: 15px;
  max-height: 320px;
  overflow-y: auto;
}
.online_priem_chat_items::-webkit-scrollbar {
  width: 5px;
}
.online_priem_chat_items::-webkit-scrollbar-thumb {
  background: #1c2258;
  border-radius: 10px;
}

.online_priem_chat_info {
  border-radius: 15px 15px 15px 0px;
  background: #cdd1ff;
  position: relative;
  padding: 14px;
}
.online_priem_chat_info::after {
  width: 17.378px;
  height: 15.723px;
  position: absolute;
  bottom: 0;
  content: "";
  z-index: 2;
  left: -16px;
  background: #cdd1ff;
  clip-path: polygon(100% 0, 0% 100%, 100% 100%);
}
.online_priem_chat_info .online_priem_chat_name {
  color: #1c2258;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  padding-bottom: 5px;
}

.my_chat_form .balance_topup-input_title {
  color: #1c2258;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  display: block !important;
}
.my_chat_form input {
  color: #1c2258;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.online_priem_my_chat.new_msg {
  opacity: 0;
  transform: translateY(20px);
  transition: all 0.3s ease;
}

.online_priem_my_chat.new_msg.show {
  opacity: 1;
  transform: translateY(0);
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100dvh;
  background: rgba(0, 0, 0, 0.4156862745);
  backdrop-filter: blur(10px);
  z-index: 11;
  display: none;
  padding: 200px 15px 0;
}
.modal .tab_content_item {
  padding: 25px;
  background: #fff;
  border-radius: 20px;
  border: 1px solid #9093ae;
  margin-top: 40px;
}
.modal .tab_content_item.is_hover {
  transition: all 0.2s linear;
  border: 1px solid transparent;
}
.modal .tab_content_item.is_hover:hover {
  border: 1px solid #9093ae;
}
.modal .tab_content_item_top {
  gap: 22px;
}
@media (max-width: 768px) {
  .modal .tab_content_item_top {
    gap: 15px;
  }
}
.modal .tab_content_item_top img {
  width: 79px;
  height: 79px;
  border-radius: 50%;
}
.modal .tab_content_item_top .my_record_profile_name {
  color: #1c2258;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 114.909%;
}
@media (max-width: 1400px) {
  .modal .tab_content_item_top .my_record_profile_name {
    font-size: 17px;
  }
}
@media (max-width: 1200px) {
  .modal .tab_content_item_top .my_record_profile_name {
    font-size: 16px;
  }
}
.modal .tab_content_item_top .my_record_profile_price {
  color: #ad272b;
  text-align: right;
  font-family: Montserrat;
  font-size: 20px;
  font-style: normal;
  font-weight: 800;
  line-height: 114.909%;
}
.modal .tab_content_item_top .my_record_profile_status {
  color: #1c2258;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: 16px;
  display: block;
}
.modal .tab_content_item .my_record_profile_information_lists {
  gap: 18px;
  margin-top: 40px;
}
.modal_exit {
  cursor: pointer;
  position: absolute;
  right: 28px;
  top: 35px;
  background: #fff;
  border-radius: 50%;
}
.modal_content {
  border-radius: 30px;
  background: #fff;
  padding: 38px 43px 37px;
  max-width: 647px;
  margin: auto 0;
  position: absolute;
  height: fit-content;
  max-height: calc(100dvh - 100px);
  inset: 0;
  overflow-y: auto;
  margin: auto;
}
.modal_content::-webkit-scrollbar {
  display: none;
}
@media (max-width: 768px) {
  .modal_content {
    padding: 30px 20px;
    width: calc(100% - 30px);
  }
}
.modal_content .schet_card {
  padding: 15px 19px 18px 19px;
  border-radius: 20px;
  background: #f9eeee;
  margin-top: 14px;
}
@media (max-width: 556px) {
  .modal_content .schet_card {
    flex-direction: column;
    align-items: flex-start !important;
    gap: 14px;
  }
}
.modal_content .schet_card_left {
  gap: 20px;
}
.modal_content .schet_card_left_title {
  color: #1c2258;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.modal_content .schet_card_left_price {
  color: #1c2258;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  margin-top: 7px;
  line-height: normal;
}
.modal_content .schet_card_right_title {
  color: #ad272b;
  text-align: right;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
@media (max-width: 556px) {
  .modal_content .schet_card_right_title {
    text-align: left;
  }
}
.modal_content .schet_card_right_balance {
  color: #ad272b;
  text-align: right;
  width: 100%;
  display: block;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-decoration: underline;
  margin-top: 7px;
}
@media (max-width: 556px) {
  .modal_content .schet_card_right_balance {
    text-align: left;
  }
}
.modal_content .schet_card img {
  width: 107px;
  height: 70.801px;
}
.modal_title {
  color: #1c2258;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
@media (max-width: 768px) {
  .modal_title {
    font-size: 26px;
  }
}
.modal_sums {
  color: #1c2258;
  font-size: 26.899px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-top: 22px;
}
.modal_sums_left {
  gap: 28px;
}
.modal_sums_right {
  color: #1c2258;
  font-size: 26.899px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.modal .order_hormone {
  margin-top: 40px;
}
@media (max-width: 556px) {
  .modal .order_hormone {
    padding: 27px 30px;
  }
}
.modal .balance_topup-input {
  margin-top: 40px;
}
.modal .balance_topup-input input {
  padding: 28px 26px 25px;
}
.modal .balance_payment {
  gap: 29px;
  padding: 0;
  background: transparent;
  border-radius: 0;
  max-width: 100%;
  width: 100%;
  margin-top: 52px;
}
.modal_bottom_checkbox {
  gap: 13px;
  color: #1c2258;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: 31px;
}
.modal_bottom_checkbox a {
  color: #1c2258;
  text-decoration: underline;
}
.modal #modal_content3 h2 {
  color: #1c2258;
  font-family: "Raleway";
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-align: center;
  padding-top: 240px;
}
.modal_chat_content {
  border-radius: 35px;
  background: #fff;
  max-width: 1239px;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  max-height: calc(100dvh - 230px);
}
@media (max-width: 768px) {
  .modal_chat_content {
    flex-direction: column;
    height: fit-content;
    max-height: calc(100dvh - 30px);
    border-radius: 8px;
  }
}
.modal_chat_content .select_appanent {
  gap: 52px;
  width: 50%;
  background: #fff;
  padding: 203px 0 237px;
  color: #1c2258;
  text-align: center;
  font-family: "Raleway";
  font-size: 22px;
  font-style: normal;
  text-decoration: none;
  font-weight: 700;
  line-height: normal;
  padding-left: 133px;
  padding-right: 133px;
}
@media (max-width: 1200px) {
  .modal_chat_content .select_appanent {
    padding-left: 80px;
    padding-right: 80px;
  }
}
@media (max-width: 1024px) {
  .modal_chat_content .select_appanent {
    padding-left: 30px;
    padding-right: 30px;
  }
}
@media (max-width: 992px) {
  .modal_chat_content .select_appanent {
    font-size: 18px;
  }
}
@media (max-width: 768px) {
  .modal_chat_content .select_appanent {
    width: 100%;
    color: #1c2258;
    height: 50%;
    font-size: 20px;
    padding: 34px 15px 37px;
    gap: 27px;
  }
}
@media (max-width: 768px) {
  .modal_chat_content .select_appanent img {
    width: 90px;
  }
}
.modal_chat_content .select_appanent:last-child {
  background: #fbf3f3;
}
@media (max-width: 768px) {
  .modal_chat_content .select_appanent:last-child {
    padding: 34px 0 37px;
    height: 50%;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: #1c2258;
  font-family: "Montserrat";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  background: #f1f1f5 url("../images/bg.png") center/cover no-repeat;
  background-size: 100% 100%;
}

.container {
  max-width: 1444px;
  margin: 0 auto;
  padding: 0 15px;
}

.flex {
  display: flex;
}
.flex.between {
  justify-content: space-between;
}
.flex.center {
  justify-content: center;
}
.flex.end {
  justify-content: flex-end;
}
.flex.start {
  justify-content: flex-start;
}
.flex.column {
  flex-direction: column;
}
.flex.a_center {
  align-items: center;
}
.flex.a_start {
  align-items: flex-start;
}
.flex.a_end {
  align-items: flex-end;
}
.flex.wrap {
  flex-wrap: wrap;
}

.breadcrumbs {
  font-family: "Raleway";
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  display: flex;
  align-items: center;
  gap: 17px;
  list-style: none;
}
.breadcrumbs img {
  margin-left: 5px;
}
.breadcrumbs a {
  color: #9093ae;
  text-decoration: none;
}
.breadcrumbs a.active {
  color: #1c2258;
}

main {
  padding-top: 55px;
  padding-bottom: 80px;
}
@media (max-width: 768px) {
  main {
    padding-top: 25px;
  }
}
@media (max-width: 768px) {
  main .container {
    flex-direction: column;
    gap: 32px;
  }
}

.button {
  border: none;
  color: #fff;
  text-align: center;
  font-family: "Raleway";
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-decoration: none;
  cursor: pointer;
  gap: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 33px 91px;
  width: 100%;
  border-radius: 25px;
  background: #ad272b;
  outline: none;
}
.button.blues {
  border-radius: 15px;
  background: rgba(28, 34, 88, 0.13);
  color: #1c2258;
}
@media (max-width: 556px) {
  .button {
    padding: 33px 35px;
    font-size: 17px;
    font-weight: 600;
  }
}

.section_title {
  color: #1c2258;
  font-family: "Raleway";
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.section_title.sm {
  font-size: 32px;
}
@media (max-width: 768px) {
  .section_title.sm {
    font-size: 20px;
  }
}
@media (max-width: 768px) {
  .section_title {
    font-size: 26px;
  }
}

.contents {
  width: calc(74% - 14.5px);
}
@media (max-width: 1200px) {
  .contents {
    width: calc(70% - 14.5px);
  }
}
@media (max-width: 992px) {
  .contents {
    width: calc(60% - 14.5px);
  }
}
@media (max-width: 768px) {
  .contents {
    width: 100%;
  }
}

.sidebar {
  width: calc(26% - 14.5px);
}
@media (max-width: 1200px) {
  .sidebar {
    width: calc(30% - 14.5px);
  }
}
@media (max-width: 992px) {
  .sidebar {
    width: calc(40% - 14.5px);
  }
}
@media (max-width: 768px) {
  .sidebar {
    width: 100%;
  }
}

.custom_radio {
  position: relative;
  display: inline-block;
}
.custom_radio input {
  display: none;
}
.custom_radio .check_dot {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: #d9dcfa;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: 0.3s;
}
.custom_radio .check_dot::after {
  content: "";
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: #fff;
  transition: 0.3s;
}
.custom_radio input:checked + .check_dot::after {
  background: #1c2258;
}

.custom_checkbox {
  position: relative;
  display: inline-block;
}
.custom_checkbox input {
  display: none;
}
.custom_checkbox .checkmark {
  width: 26px;
  height: 26px;
  border-radius: 6.71px;
  background: #c1c5f2;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: 0.3s;
}
.custom_checkbox .checkmark::after {
  content: "";
  width: 10px;
  height: 5px;
  border-left: 3px solid transparent;
  border-bottom: 3px solid transparent;
  transform: rotate(-45deg);
  transition: 0.3s;
}
.custom_checkbox input:checked + .checkmark::after {
  border-left-color: #1c2258;
  border-bottom-color: #1c2258;
}/*# sourceMappingURL=style.css.map */